<h1>News:</h1>
<ul>
    <p><span class="date">2015-03-05 00:00</span> Good news everyone - we are open! :)</p>

    <p><span class="date">2015-03-21 21:01</span> Say bye to old <a
            href="http://stylus.com.ua/ru/products/details/188663/index.html">ividro</a> (goodbye expensive fellow :'( )
        and meet new <a href="http://stylus.com.ua/ru/products/details/185692/index.html">ividro</a> - more powerful and
        of course more expensive!</p>

    <p><span class="date">2015-03-21 22:43</span> біг редізайн всі діла - борода кросавчек :)</p>
</ul>